<section class="submitList">
    <h2>Selected Songs</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped" ng-model="addedTracks">
            <thead>
                <tr>
                    <th class="col-md-1">Remove</th>
                    <th>
                        <a href="#" ng-click="sortType = 'Song'; sortReverse = !sortReverse">
                            Song
                            <span ng-show="sortType == 'Song' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                            <span ng-show="sortType == 'Song' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'Artist'; sortReverse = !sortReverse">
                            Artist
                            <span ng-show="sortType == 'Artist' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                            <span ng-show="sortType == 'Artist' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'Genre'; sortReverse = !sortReverse">
                            Genre
                            <span ng-show="sortType == 'Genre' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                            <span ng-show="sortType == 'Genre' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="addedSongs in addedTracks">
                    <td><a class="btn btn-default btn-sm" href="" role="button" ng-click="removeSong(songs)"><span class="glyphicon glyphicon-minus"></span></a></td>
                    <td>{{ addedSongs.Song }}</td>
                    <td>{{ addedSongs.Artist }}</td>
                    <td>{{ addedSongs.Genre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input class="form-control" name="email" type="email" />
    </div>
    <div class="form-group text-center">
        <button class="btn btn-primary mrgn-tp-lg" type="submit">Submit</button>
    </div>
</section>