<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tracks</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
        .btn-default {background-color: #aaa; color: #000; padding:0 15px;}
    </style>

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="js/dirPagination.js"></script>
    <script src="app.js"></script>

</head>
<body>
<div class="container" ng-app="sortApp" ng-controller="mainController">
    <h2>Available Songs</h2>
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search for a song" ng-model="search">

      </div>      
    </div>
  </form>

  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <th class="col-md-1">Add</th>
        <th>
        <a href="#" ng-click="sortType = 'artist'; sortReverse = !sortReverse">
        Artist
        <span ng-show="sortType == 'artist' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'artist' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'genre'; sortReverse = !sortReverse">
        Genre
        <span ng-show="sortType == 'genre' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'genre' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
        Song
        <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
      </tr>
    </thead>
    
    <tbody>
      <tr dir-paginate="songs in tracks | orderBy:sortType:sortReverse | filter:search | itemsPerPage: 30">
        <td><a class="btn btn-default" href="" role="button" ng-click="addSong(songs)">Add</a></td>
        <td>{{ songs.artist }}</td>
        <td>{{ songs.genre }}</td>
        <td>{{ songs.title }}</td>
      </tr>
    </tbody>
    
  </table>
  <dir-pagination-controls></dir-pagination-controls>
<h2>Selected Songs</h2>
  <table class="table table-bordered table-striped" ng-model="addedTracks">
    
    <thead>
      <tr>
        <th class="col-md-1">Remove</th>
        <th>
        <a href="#" ng-click="sortType = 'artist'; sortReverse = !sortReverse">
        Artist
        <span ng-show="sortType == 'artist' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'artist' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'genre'; sortReverse = !sortReverse">
        Genre
        <span ng-show="sortType == 'genre' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'genre' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'title'; sortReverse = !sortReverse">
        Song
        <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="addedSongs in addedTracks">
        <td><a class="btn btn-default" href="" role="button" ng-click="removeSong(songs)">Remove</a></td>
        <td>{{ addedSongs.artist }}</td>
        <td>{{ addedSongs.genre }}</td>
        <td>{{ addedSongs.title }}</td>
      </tr>
    </tbody>
    
  </table>



</div>
</body>
</html>