<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-switch.min.css">
    <style>
        body { padding-top:50px; }
        .btn-default {background-color: #aaa; color: #000; padding:2px 20px;}
    </style>

    <!-- JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="js/dirPagination.js"></script>
    <script src="app.js"></script>

</head>
<body>
<div class="container" ng-app="sortApp" ng-controller="mainController">
    <h2>Available Songs</h2>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                    <label for="filter">Search</label>
                 <div class="input-group">
                   <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                    <input type="text" name="filter" class="form-control" placeholder="Search for a song or artist" ng-model="search">
                </div>      
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="genre">Genre</label>
                <select class="form-control" name="genre">
                    <option ng-repeat="songs in tracks" value="{{songs.Genre}}">{{songs.Genre}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="topSong">Top Song Only</label>
                <input type="checkbox" class="form-control" name="topSong" data-on-text="Yes" data-off-text="No" />
                
            </div>
        </div>
    </div>
</form>

  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
        <th class="col-md-1">Add</th>
        <th>
        <a href="#" ng-click="sortType = 'Song'; sortReverse = !sortReverse">
        Song
        <span ng-show="sortType == 'Song' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'Song' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'Artist'; sortReverse = !sortReverse">
        Artist
        <span ng-show="sortType == 'Artist' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'Artist' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'Genre'; sortReverse = !sortReverse">
        Genre
        <span ng-show="sortType == 'Genre' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'Genre' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
      </tr>
    </thead>
    
    <tbody>
      <tr dir-paginate="songs in tracks | orderBy:sortType:sortReverse | filter:search | itemsPerPage: 30">
        <td><a class="btn btn-default" href="" role="button" ng-click="addSong(songs)"><span class="glyphicon glyphicon-plus"></span></a></td>
        <td>{{ songs.Song }}</td>
        <td>{{ songs.Artist }}</td>
        <td>{{ songs.Genre }}</td>
      </tr>
    </tbody>
    
  </table>
  <div class="text-center">
  <dir-pagination-controls></dir-pagination-controls>
  </div>
<h2>Selected Songs</h2>
  <table class="table table-bordered table-striped" ng-model="addedTracks">
    
    <thead>
      <tr>
        <th class="col-md-1">Remove</th>
        <th>
        <a href="#" ng-click="sortType = 'Song'; sortReverse = !sortReverse">
        Song
        <span ng-show="sortType == 'Song' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'Song' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'Artist'; sortReverse = !sortReverse">
        Artist
        <span ng-show="sortType == 'Artist' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'Artist' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
        <th>
        <a href="#" ng-click="sortType = 'Genre'; sortReverse = !sortReverse">
        Genre
        <span ng-show="sortType == 'Genre' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
        <span ng-show="sortType == 'Genre' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
        </a></th>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="addedSongs in addedTracks">
        <td><a class="btn btn-default" href="" role="button" ng-click="removeSong(songs)">Remove</a></td>
        <td>{{ addedSongs.Song }}</td>
        <td>{{ addedSongs.Artist }}</td>
        <td>{{ addedSongs.Genre }}</td>
      </tr>
    </tbody>
    
  </table>



</div>


<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap-switch.min.js"></script>
<script>
    $("[name='topSong']").bootstrapSwitch();
</script>
</body>
</html>